<% obj.each do |note| %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 class="display-5">
                <%= note.title %>
            </h3>
            <p class="lead">
                <%= note.description %>
            </p>
            <small>
                <hr>
                Created by: <%= note.user.username if note.user %> <br>
                Created at: <%= time_ago_in_words(note.created_at) %> ago. <br>
                Last updated at: <%= time_ago_in_words(note.updated_at) %> ago.
            </small>
            <hr>
            <%= link_to "Show", note_path(note) , class: "btn btn-sm btn-success" %>
            <% if logged_in? && (current_user == note.user || current_user.admin?) %>
                <%= link_to "Edit", edit_note_path(note) , class: "btn btn-sm btn-primary" %>
                <%= link_to 'Delete', note_path(note), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
            <% end %>
        </div>
    </div>
<% end %>