<h1>Wszystkie notatki</h1>

<p>
    <%= link_to "Nowa notatka", new_note_path %>
</p>

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
    </tr>
    <% @notes.each do |note| %>
    <tr>
        <th><%= note.title %></th>
        <th><%= note.description %></th>
        <th><%= link_to 'Edytuj', edit_note_path(note) %></th>    
        <th><%= link_to 'Pokaz', note_path(note) %></th>  
    </tr>
    <% end %>
</table>