<h1>New note</h1>


<%= form_for @note do |f| %>
  <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
  </p>
  <p>
      <%= f.label :description %>
      <%= f.text_area :description %>
  </p>
  <p>
      <%= f.submit %>
  </p>
<% end %>