<h2>Pokazanie notatki: <%= @note.title %></h2>

<div class="well col-xs-8 col-xs-offset-2">
    <hr>
    <% if @note.description.empty? %>
        <p>
            brak
        </p>
    <% else %>
        <p>
            <%= @note.description %>
        </p>
    <% end %>
</div>



<p>
    <% if logged_in? && current_user == @note.user %>
    <%= link_to "Edytuj", edit_note_path , class: "btn btn-primary" %>
    <%= link_to 'Usuń', note_path(@note), method: :delete, data: {confirm: "Na pewno?"}, class: "btn btn-danger" %>
    <% end %>
</p>

    <%= link_to "Wróc do listy", notes_path , class: "btn btn-success" %>