<h2>Note: <%= @note.title %></h2>

<div class="well col-xs-8 col-xs-offset-2">
    <hr>
    <% if @note.description.empty? %>
        <p>
            Empty, only title
        </p>
    <% else %>
        <p>
            <%= @note.description %>
        </p>
    <% end %>
</div>



<p>
    <% if logged_in? && (current_user == @note.user || current_user.admin?) %>
    <%= link_to "Edit", edit_note_path , class: "btn btn-primary" %>
    <%= link_to 'Delete', note_path(@note), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
    <% end %>
</p>

    <%= link_to "Go back to notes", notes_path , class: "btn btn-success" %>