<% @users.each do |user| %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 class="display-5" align="center">
                <%= gravatar_for user %><br><br>
                <%= user.username %>
            </h3>
            <p class="lead">
                Your login: <%= user.email %><br>
                Your notes: <%= pluralize(user.notes.count, "notes") if user.notes %>
            </p>
            <hr>
            
            <%= link_to "Show", user_path(user) , class: "btn btn-sm btn-success" %>
            <% if logged_in? && current_user.admin? %>
                <%= link_to "Edit", edit_user_path(user) , class: "btn btn-sm btn-primary" %>
                <%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
            <% end %>
        </div>
    </div>
<% end %>