<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a><%= link_to "Home", root_path, class: "navbar-brand"  %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% if logged_in? %>
      <li class="nav-item">
        <a><%= link_to "All notes", notes_path, class: "nav-link"  %></a>
      </li>
      <li class="nav-item">
        <a><%= link_to "New note", new_note_path, class: "nav-link"  %></a>
      </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% if current_user.admin? %>
              <a><%= link_to "All users ", users_path, class: "nav-link"  %></a>
            <% end %>
            <a><%= link_to "My profile ", user_path(current_user), class: "nav-link"  %></a>
            <a><%= link_to "Edit my profile ", edit_user_path(current_user), class: "nav-link"  %></a>
            <hr>
            <a><%= link_to "Logout", logout_path, method: :delete, class: "nav-link"  %></a>
          </div>
        </li>
      <% else %>
        <a><%= link_to "Login", login_path, class: "nav-link"  %></a>
        <a><%= link_to "Signup", signup_path, class: "nav-link"  %></a>
      <% end %>
    </ul>
    <% if logged_in? && current_user.admin? %>
      <span class="navbar-text">
        you are admin
      </span>
    <% end %>
  </div>
</nav>